---
layout: default
---
<div class="container mx-auto px-2">
  <article class="mx-auto flex flex-wrap py-6 justify-between">
    <main class="w-full md:w-2/3 flex flex-col items-center px-3">
      <div class="flex flex-col my-4">
        <!-- Article Image -->
        <div class="w-auto">
          {% if image %}
            <img src="/{{ image }}" alt="some alt text">
          {% endif %}
        </div>

        <a href="#" class="text-4xl font-bold font-serif mt-4 hover:text-gray-700 pb-4">{{ title }}</a>

        <div class="flex flex-row">
          <p href="#" class="text-sm pb-8">
            <a href="#" class="font-semibold hover:text-gray-800">{{ author }}</a>Published on {{ date | date: "%B %d %Y" }}
          </p>
        </div>

        <div class="markdown m-0 mx-w-3xl">
          {{ content }}
        </div>


        <div class="bg-white flex flex-col justify-start p-6">
        </div>
      </div>
    </main>
    {% include sidebar %}
  </article>
</div>
